@font-face {
    font-family: 'pixel';
    src: url('fonts/PxPlus_VGA_SquarePx.ttf'), url('fonts/PxPlus_VGA_SquarePx.woff');
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scrollbar-color: #0f0 #00f;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'pixel', monospace;
    background-color: blue;
    /* width: 100%; */
    /* background-color: #000; */
}

.column p,
.column tr,
.column li {
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: 'EB Garamond', serif; */
    font-family: 'Courier New', Courier, monospace;
    /* font-family: 'Cormorant', serif; */
}


.container {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0px;
    overflow-y: scroll;
}

.reveal {
    color: #00f;
    text-decoration: underline;
}

.reveal:hover {
    font-style: italic;
}

.video-container {
    width: 75%;
    display: block;
    margin: auto;
}

.video-container video {
    width: 100%;
}

.citation {
    font-size: 2rem;
    line-height: 1.2em;
    text-align: center;
    /* background-color: #f00; */
    /* font-weight: bolder; */
    color: #fff;
    text-decoration: underline #0f0;
    text-shadow: 2px 2px #f00;
    text-transform: uppercase;
}

div.citation a {
    color: #00f;
    text-shadow: 2px 2px #0f0;
    /* text-decoration: underline #f00; */
}

.column {
    font-size: 1rem;
    padding: 5px;
    width: 65%;
    margin: auto;
    height: auto;
    color: #fff;
}

.column:hover {
    /* background-color: #00f; */
    /* color: #fff; */
    /* width: 40vw; */
    /* line-height: 1.5em; */
    /* transform: rotate3d(1, 2.0, 3.0, 10deg); */
}

.column a {
    /* background: #fff; */
    font-size: 1.25rem;
    color: #0f0;
    text-decoration: none;
    /* font-weight: bolder; */
    /* text-shadow: -1px -1px #0f0; */
    /* font-family: 'Cormorant', serif;  */
    font-family: 'pixel', monospace;
}

.column a:hover {
    /* font-weight: bolder; */
    /* background: #fff; */
    font-style: italic;
    /* text-transform: uppercase; */
    text-decoration: underline #f00;
}

.column b {
    background: #00f;
}

.column u {
    /* font-style: italic; */
    font-family: 'pixel', monospace;
    font-size: 2rem;
    color: #f00;
    text-shadow: 1px 1px #fff;
    /* letter-spacing: 2px; */
}

.column u:hover {
    color: #000;
}

.column q {
    font-size: 2rem;
    line-height: 1.3em;
}

.column q:hover {
    color: #f00;
}

.column img {
    width: 100%;
    height: auto;
}

.column pre {
    font-size: max(0.25rem, 1vw);
}

#p5Sketch {
    position: fixed;
    z-index: -1;
    right: 0px;
    bottom: 0px;
    /* width: 200px;
    height: 200px; */
}

@media only screen and (min-width: 650px) {
    /* @media (max-width: 750px) { */
    /* @media (max-width: 600px) { */


    .column {
        width: 85%;
        height: auto;
        float: none;
    }
    
    .column a {
        font-size: 2.25rem;
    }
    .column p {
        font-size: 2rem;
        line-height: 1em;
    }


    /* .container {
        display: inline;
        position: relative;
        width: 100%;
        height: auto;
    } */


    .column pre {
        font-size: 0.65rem;
    }

}

/* custom scrollbars */

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); */
    /* background-color: #fff; */
}

::-webkit-scrollbar {
    width: 5px;
    /* background-color: #fff; */
}

::-moz-scrollbar-thumb {
    background-color: #00f;
    /* border: 2px solid #555555; */
}

::-moz-scrollbar-track {
    /* -moz-box-shadow: inset 0 0 6px rgba(0,0,0,1); */
    /* background-color: #fff; */
}

::-moz-scrollbar {
    width: 5px;
    /* background-color: #fff; */
}

::-moz-scrollbar-thumb {
    background-color: #00f;
    /* border: 2px solid #555555; */
}

/* Media Query */



/* .container {
    display: inline;
    position: relative;
    width: 100%;
    height: auto;
} */

/* .column:hover {
    width: 100%;
} */