@font-face {
  font-family: 'pix';
  src: url(Web437_EagleSpCGA_Alt3-2y.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'pix', serif;
}

canvas {
  background: none !important;
  border: #000000 solid 5px;
  border-style: ridge;
}

#c {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* width: 100%; */
  /* height: 100vh; */
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: white;
  /* center its content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* mix-blend-mode: exclusion; */
}

.banner{
  pointer-events: none;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;

}
.banner-item{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid #3cf 3px; */
  background-color: #000000aa;
  background: linear-gradient(0deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(0, 0, 0, 0.25) 30%,
  rgba(0, 0, 0, 0.25) 70%, 
  rgba(255, 255, 255, 0) 100%);
  text-align: center;
}

.banner-item h1{
  font-size: 3rem;
  color: white;
  line-height: 3rem;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.splash h1,
.splash h2 {
  /* text-shadow: #efefef 3px 3px 3px; */
}

#blocker {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* center its content */
  display: flex;
  justify-content: center;
  align-items: center;

}

#instructions,
.quest-info {
  padding: 2rem;
  background-color: #ffffffaa;
  margin: 20px;
  border: #000000 solid 5px;
  border-style: ridge;
}

#instructions p {
  cursor: pointer;
}

.quest-info {
  width: 50%;
}

.volume {
  border: #000000 solid 5px;
  border-style: ridge;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quest-info {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px 10px 0px 10px;
  z-index: 1;
  width: 100%;
  height: 100vh;
  /* overflow-y: scroll; */
  background-color: rgba(0, 0, 0, 0.3);
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-family: 'pix', serif; */
  font-size: 1.25em;
  border-radius: 10px;
  display: flex;
}

.main h2 {
  color: #efefef;
}

.main p {
  color: cornflowerblue;
  font-weight: bold;
}

.main i {
  color: #fc3;
}

.main b {
  color: #3cf;
}

.btn,
.save {
  position: absolute;
  bottom: 5px;
  left: 25px;
  /* this is a button and needs some buttony css */
  cursor: pointer;
  background-color: ghostwhite;
  /* border: 1px solid black; */
  /* border should be slightly round */
  border-radius: 5px;
  padding: 5px;
  /* should be a wide as the text */
  width: max-content;
  color: crimson;
  font-weight: bold;
  font-size: 1.5em;
}

.save {
  left: 150px;
}

/* Add this to your CSS */
.crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: crimson;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  /* Ensure it doesn’t block clicks */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 125px;
  color: black;
  /* background-color: #33ccffaa; */
  width: 100%;
  text-shadow: #fc3 0px 0px 15px;
  font-size: 1.25rem;
}

.dialogue {
  width: 85%;
  text-align: center;
}

.main-right {
  width: 50%;
  overflow-y: scroll;
  background-color: ghostwhite;
  padding-left: 0.5rem;
}

.text-container {
  /* background-color: #33ccffaa; */
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-family: 'pix', 'Times New Roman', Times, serif; */
}

.image {
  /* padding: 2rem; */
  /* background-color: #3333ffaa; */
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 95%;
  height: auto;
}

/* media query for devices */
@media only screen and (max-width: 600px) {
  .main {
    width: 80%;
    height: 100vh;
    overflow-y: scroll;
    /* padding-bottom: 100px; */
  }
}